
@import url('https://fonts.googleapis.com/css2?family=Glass+Antiqua&family=Protest+Riot&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Italiana&display=swap');
/* ACIMA SÃO OS LINKS DE IMPORTAÇÃO DAS FONTES EM QUE ESTOU USANDO NO BLOG */


/* ESTILIZAÇÃO DE ZERAR OS PADRÕES DA PAGINA ANTES DE INICIAR */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    box-sizing: border-box;
    background: #d2cfcf4d;
}




/* ESTILIZAÇÃO DA NAV - MENU DE NAVEGAÇÃO E LINKS */
.navegation > nav{
    margin: auto;
    max-width: 1124px;

    display: flex;
    flex-direction: row;
    gap: 5rem;

    font-family: italiana;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.navegation a:hover{
    color: #dbd7d7;
    box-sizing: border-box;
    transition: 0.2s;
}
.logo{
    display: flex;

    text-transform: uppercase;
    font-family: italiana;

    text-align: center;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
}
ul{
    margin: auto;
    display: flex;
    flex-direction: row;
    gap: 4rem;

    list-style: none;
    align-items: center;
    justify-content: center;
}
a{
    cursor: pointer;
    color: #000;
    text-decoration: none;
    text-transform: uppercase ;
}
.button{
    width:10%;

    cursor: pointer;
    border: none;
    padding: 0.3rem;

    background: #000;
    color: #fff;
    border-radius: 5rem;
    text-transform: uppercase;
}
.button:hover{
    background-color: #dbd7d7;
    color: #000;
    transition: all 0.2s;
}



/* ESTILIZAÇÃO DAS REDES SOCIAIS */
.container-social-media{
    display: flex;
    flex-direction: column;

    margin: 20rem 0rem 8rem 0rem;
    text-align: center;
    align-items: center;
    justify-content: center;
}
.social-media{
    display: flex;
    flex-direction: row;

    gap: 3rem;
    font-size: 1.5rem;
    align-items: center;
    justify-content: center;
}
.social-media a:hover{
    cursor: pointer;
    background-color: #00000022;

    justify-content: center;
    align-items: center;
    text-align: center;

    border-radius: 50%;
    padding: 0.7rem;
    transition: 0.2s;
}
.paragrafo{
    display: flex;
    padding: 1rem;
    font-size: 0.9rem;

    font-family: glass antiqua;
    text-align: justify;
}




/* ESTILIZAÇÃO DA MAIN - CONTEUDO PRINCIPAL */
main{
    margin: auto;
    display: flex;
    flex-direction: column;
}


/* ESTILIZAÇÃO DO CONTEUDO UM E HEADER (CABEÇALHO) - IMAGEM */
.header-box-one{
    background: url(/assets/img-header.jpg) no-repeat;
    max-width: 100%;
    height: 45vh;
}    
.header{
    margin: auto;
    padding: 0rem 4rem;

    max-width: 1124px;
    height: 89vh;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    gap: 6rem;
    overflow: clip;
}
.header-conteudo{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.header-titulo{
    color: #000;
    font-family: glass antiqua;
    font-size: 20rem;
    font-weight: 800;
}





/* ESTILIZAÇÃO DO CONTEUDO SEGUNDO*/
.box-women{
    margin: 5rem 15rem;
    max-width: 100%;

    display: flex;
    flex-direction: row;

    text-align: center;
    align-items: center;
    justify-content: center;
}

.box-women-img img{
    width: 60%;  
    display: flex;
    flex-direction: row;
    border-radius: 1rem;
}

.box-women-p > p{
    margin: auto;
    font-size: 1rem;
    font-family: inter;

    text-align: justify;
    align-items: center;
    justify-content: center;
}






/* ESTILIZAÇÃO DO BOX- BACKGROUND PRETO */
.box-black{
    display: flex;
    flex-direction: row;
    height: 75vh;

    margin: auto;
    padding: 9rem;
    gap: 10rem;

    background-color: #000;
    color: #fff;

    justify-content: center;
    align-items: center;
    text-align: justify;
}
.box-black-title > h1{
    display: flex;
    font-size: 4.5rem;
    
    font-family: inherit;
    text-transform: uppercase;
    text-align: right;
    justify-content: center;
}
.box-black-subtitle > p{
    display: flex;
    padding: 20%;

    text-align: justify;
    font-family: glass antiqua;
    font-size: 1rem;
}







/* ESTILIZAÇÃO DO CONTEUDO QUATRO */
.big-box-container{
    margin: 3rem 8rem;
    display: flex;
    flex-direction: column;

    text-align: center;
    align-items: center;
    justify-content: center;
}

.big-box{
    display: flex;
    flex-direction: row;

    max-width: 1124px;
    height: 60vh;

    margin: 1% 10% 1% 10%; /* sentido horario - cima, direita,baixo e esquerdo */
    padding: 4rem;
    gap: 5rem;

    text-align: center;
    align-items: center;
    justify-content: center;
}

.big-box-img > img{
    display: flex;
    flex-direction: row;
    max-width: 15rem;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}
.big-box-texts{
    display: flex;
    flex-direction: column;

    font-size: 0.9rem;
    font-family: glass antiqua;
    align-items: center;
    justify-content: center;
    text-align: justify;
}

.big-box-title{ 
    font-size: 2rem;
    font-family: italiana;
    text-align: center;
}















  /* CODIGO DAS REDES SOCIAIS ---------------------------------- */

.container {
    width: 200px;
    width: auto;
    position: fixed;
    left: 20vw;
    top: 30vw;
    transform: translate(-50%, -50%);
    display: flexbox;
    justify-content: space-between;
  }
  
  .icon {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(221, 187, 145);
    border: 1px solid rgb(221, 187, 145);
    text-decoration: none;
    transition: background-color 250ms;
}


.icon:hover  {
    background-color: #fff;
}
  
.icon i {
    font-size: 30px;
    color: white;
    transition: color 250ms;
}

.icon:hover i {
    color: #fff;
}
  









 /* CAMPO DO MEDIA QUERY - RESPONSIVIDADE DO BLOG ---- 
 @media screen (min-width: 600px){

    .primeira-caixa{
        heigth: 800vh;
        display: flex;
        flex-direction: column;
    
    }

    .primeira-caixa{
        background: url(assets/img-header.jpg);
    }
}*/